body {
  font-family: Arial, sans-serif;
  background-color: #009EFF;
}

.container {
  width: 350px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
  width: 94%;
  padding: 10px;
  border: 1px solid #ccc;
  color: black;
  background-color: #eaeaea;
  border-radius: 3px;
}

.container #alamat {
  width: 100%;
  padding: 100px 10px;
  text-align: start;
  padding-top: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #009EFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}